/* src/components/WorkoutPlan.css */

/* Container for the entire workout plan */
.workout-plan-container {
  padding: 30px 15px;
  margin-top: 80px; /* Account for fixed navbar */
}

.workout-day {
  margin-top: 20px;
}

.day-cell {
  background-color: #4CAF50;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  color: #fff;
}

.day-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  color: white;
}

.day-duration {
  font-size: 1.2rem;
  margin-top: 5px;
  color: white;
}

.additional-tips {
  margin-top: 40px;
  padding: 20px;
  background-color: #e6ffe6;
  border-radius: 8px;
}

.additional-tips h5 {
  margin-top: 0;
  color: #28a745;
  font-size: 1.5rem;
}

.additional-tips ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

.additional-tips li {
  margin-bottom: 10px;
  color: #555;
  font-size: 1rem;
  padding-left: 5px;
}

.instruction-list {
  list-style-type: disc;
  padding-left: 20px;
  margin: 5px 0;
  color: #555;
  font-size: 1rem;
  line-height: 1.6;
}

.instruction-item {
  margin-bottom: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .day-cell {
    padding: 15px;
  }

  .day-title {
    font-size: 1.5rem;
  }

  .exercise-name {
    font-size: 1.2rem;
  }

  .workout-plan-container p {
    font-size: 1rem;
  }

  .workout-plan-container h4 {
    font-size: 1.8rem;
  }

  .additional-tips h5 {
    font-size: 1.2rem;
  }

  .exercises-container {
    padding: 10px 20px;
  }
}
